*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: var(--main-color);
}

body{
    background-color: #181818;
}



a{
    text-decoration: none;
    color: var(--main-color);
    font-size: var(--small-size);
    
}

:root{
    --small-size: .9em;
    --tittles-size: 1.6em;
    --bold: 500;
    --main-color: rgb(225, 225, 225);
}

.hero{
    width: 95%;
    margin: 0 auto;
    margin-bottom: 200px;
    color: var(--main-color);
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--main-color);
    padding-top: 20px;
}

.header h2{
    font-size: var(--tittles-size);
}

.header-nav{
    display: flex;
    list-style: none;
    font-weight: var(--bold);
    margin-left: 70px;
}

.header-nav .nav-li{
    margin-right: 30px;
}

.header button{
    border-radius: 20px;
    background-color: transparent;
    border: 1px solid rgb(205, 205, 205);
    font-size: var(--small-size);
    width: 130px;
}

 button a{
    line-height: 35px;
    display: inline-block;
    width: 100%;
}

.landing{
    text-align: center;
    color: var(--main-color);
    margin: 250px 0px 300px 0px;
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: center;
}

.landing h1{
    font-size: 3em;
    font-weight: var(--bold);
}

.landing button{
    border-radius: 20px;
    background-color: transparent;
    border: 1px solid rgb(205, 205, 205);
    font-size: var(--small-size);
    width: 130px;
}





/* main */

main{
    width: 95%;
    margin: 100px auto;
}

.main-info{
    display: flex;
    align-items: center;
}

.main-info .main-info, .n1{
    height: 500px;
    margin-bottom: 200px;

}

img{
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 20px;
}


main .main-info h2{
    font-size: var(--tittles-size);
    font-weight: var(--bold);
    margin-bottom: 30px;
    line-height: 35px;
}

.first-main-article{
    width: 50%;
    margin-right: 130px;
}


.main-article .main-ul{
    display: flex;
    font-size: var(--small-size);
    font-weight: var(--bold);
}


.main-article .main-ul .line-div{
    width: 2px;
    height: 70px;
    background-color: #fff;
    margin-right: 50px;
    margin-top: 5px;
}

.main-article .main-ul li{
    margin-bottom: 15px;
}


.second-main-article{
    width: 40%;
    margin-left: 100px;
}


.info{
    width: 95%;
    margin: 0 auto;
    margin-top: 200px;
}

.info h2{
    font-size: 2.5em;
    font-weight: 400;
    width: 50%;
    margin-bottom: 40px;
}

.info p{
    font-size: var(--small-size);
    font-weight: var(--bold);
    width: 80%;
    line-height: 25px;
    border-top: 1px solid gray;
    padding-top: 10px;
}



.lorem-container{
    width: 95%;
    margin: 0 auto;
    margin-top: 250px;  
    text-align: center;
}

.lorem-container h2{
    margin-bottom: 120px;
    font-size: 2.5em;
    font-weight: var(--bold);
}




/* imgs */



.imgs{
    display: flex;
    margin-bottom: 300px;

}

.imgs img{
    width: 33%;
    position: relative;
}

.imgs :nth-child(2){
    top: 80px;
    margin: 0 5px;
}

.imgs :nth-child(3){
    top: 50px;
}


/* footer */


footer{
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid gray;
    padding: 15px 0;
}

footer p{
    font-size: var(--small-size);
}





