*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: var(--main-color);
}

body{
    /* background-color: beige; */
    /* background-color: #dfdfdf; */
    background-color: #181818;
}



a{
    text-decoration: none;
    color: var(--main-color);
    font-size: var(--small-size);
    
}

:root{
    --small-size: .9em;
    --tittles-size: 1.6em;
    --bold: 500;
    /* --main-color: #292929; */
    --main-color: rgb(225, 225, 225);
}

.hero{
    width: 95%;
    margin: 0 auto;
    margin-bottom: 200px;
    color: var(--main-color);
}

.header{
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--main-color);
    padding-top: 20px;
}

.header h2{
    font-size: var(--tittles-size);
}

.header-nav{
    display: flex;
    list-style: none;
    /* font-size: var(--small-size); */
    font-weight: var(--bold);
    margin-left: 70px;
}

.header-nav .nav-li{
    margin-right: 30px;
}

.header button{
    /* padding: 0 15px; */
    border-radius: 20px;
    background-color: transparent;
    border: 1px solid rgb(205, 205, 205);
    font-size: var(--small-size);
    width: 130px;
}

 button a{
    line-height: 35px;
    display: inline-block;
    width: 100%;
}

.landing{
    text-align: center;
    color: var(--main-color);
}

.landing h1{
    font-size: 3em;
    font-weight: var(--bold);
    margin-top: 200px;
    margin-bottom: 35px;
}

.landing button{
    border-radius: 20px;
    background-color: transparent;
    border: 1px solid rgb(205, 205, 205);
    font-size: var(--small-size);
    width: 130px;
}





/* main */

main{
    width: 95%;
    margin: 0 auto;
}

.main-info{
    display: flex;
    align-items: center;
    /* background-color: bisque; */
}

.main-info .main-info, .n1{
    /* background-color: red; */
    height: 500px;
    margin-bottom: 200px;

}

img{
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 20px;
}
/* 
main .main-info, .n1 :first-child{
    background-color: black;
} */

main .main-info h2{
    font-size: var(--tittles-size);
    font-weight: var(--bold);
    margin-bottom: 30px;
    line-height: 35px;
    /* background-color: red; */
    /* width: 70%; */
}

.first-main-article{
    width: 50%;
    /* background-color: blue; */
    margin-right: 130px;
}


.main-article .main-ul{
    display: flex;
    /* align-items: center; */
    font-size: var(--small-size);
    font-weight: var(--bold);
}


/* .main-article .main-ul i{
    margin-right: 40px;
    margin-top: 30px;
    font-size: 1.5em;
} */

.main-article .main-ul .line-div{
    width: 2px;
    height: 70px;
    background-color: #fff;
    margin-right: 50px;
    /* margin-left: 20px; */
    margin-top: 5px;
}

.main-article .main-ul li{
    /* line-height: 30px; */
    margin-bottom: 15px;
}

.img-main2 img{
    /* margin-right: 40px; */
    /* border-radius: 10px; */
}


.second-main-article{
    width: 40%;
    /* background-color: blue; */
    margin-left: 100px;
    /* margin-right: 50px; */
}

/* info */

.info{
    width: 95%;
    margin: 0 auto;
    margin-top: 200px;
}

.info h2{
    font-size: 2.5em;
    /* font-size: var(--tittles-size); */
    font-weight: 400;
    width: 50%;
    margin-bottom: 40px;
}

.info p{
    font-size: var(--small-size);
    font-weight: var(--bold);
    width: 80%;
    line-height: 25px;
    border-top: 1px solid gray;
    padding-top: 10px;
}



.lorem-container{
    width: 95%;
    margin: 0 auto;
    margin-top: 250px;  
    text-align: center;
}

.lorem-container h2{
    margin-bottom: 120px;
    /* font-size: var(--tittles-size); */
    font-size: 2.5em;
    font-weight: var(--bold);
}




/* imgs */



.imgs{
    display: flex;
    margin-bottom: 300px;

}

.imgs img{
    width: 33%;
    position: relative;
}

.imgs :nth-child(2){
    top: 80px;
    margin: 0 5px;
}

.imgs :nth-child(3){
    top: 50px;
}


/* footer */


footer{
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid gray;
    padding: 15px 0;
}

footer p{
    font-size: var(--small-size);
}





